<%= render "shared/banner" %>
<%= render "shared/navbar" %>


<div class="container mt-4 mb-5">
  <div class="card-container">
    <% @lists.each do |list| %>
      <% if list.photo.attached? %>
        <div class="card-list item d-flex align-items-center align-self-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
      <% else %>
        <div class="card-list item d-flex align-items-center align-self-center" style="background-color: black">
      <% end %>
      <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
</div>
