<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://www.wallpaperup.com/uploads/wallpapers/2015/12/12/858715/38ab8700ce1051a9b2311504d06f8289-1400.jpg);">
  <div class="container">
    <h1>WagonHub</h1>
    <span id="banner-typed-text"></span>
  </div>
</div>
