<nav class="navbar bg-black justify-content-beetwen sticky-top">
  <%= link_to "Home", root_path, class: "nav-link text-danger" %>
  <%= link_to "New List", new_list_path, class: "nav-link text-danger" %>
</nav>
